{"IP_Address": {{ ip_address.stdout | to_nice_json}},
"hostname" : {{ server_hostname.stdout | to_nice_json }},
"OS_Info": {{osrelease.stdout | to_nice_json }},
"Kernel_Version": {{uname_out.stdout | to_nice_json }},
"Total_Processor": {{cpu_out.stdout | to_nice_json }},
"CPU_Processor_Model": {{model_out.stdout | to_nice_json }},
"CPU_Processor_Speed": {{proc_out.stdout | to_nice_json }},
"CPU_Cache_Size": {{cache_out.stdout | to_nice_json }},
"Memory_RAM_Info": {{mem_out.stdout | to_nice_json }},
"MOUNT_POINT_TYPE": {{type_out.stdout | to_nice_json }},
"BLOCK_DEVICES": {{dev_out.stdout | to_nice_json }},
"DISK_PARTATION_INFO": {{disk_out.stdout | to_nice_json }},
"DISK_PARTATION_INF": {{part_out.stdout | to_nice_json }},
"RUNNING_SERVICE_INFO": {{list_out.stdout | to_nice_json }},
"TOTAL_RUNNING_SERVICE_INFO": {{ser_out.stdout | to_nice_json }},
"ACTIVE_USER_INFO": {{user_out.stdout | to_nice_json }}}
